<section id="recipe-details">
  <h2>Recipe Details</h2>

  <div *ngIf="recipe">
    <!--    View Mode-->
    <div *ngIf="!isEditMode">
      <img [src]="recipe.imageUrl || defaultImageUrl" alt="{{ recipe.title }}" />
      <div class="recipe-actions">
        <div *ngIf="canEdit">
          <button (click)="toggleEditMode()">Edit Recipe</button>
        </div>

        <div *ngIf="canDelete">
          <button class="remove-btn" (click)="deleteRecipe()">Delete Recipe</button>
        </div>
      </div>
      <h3>{{ recipe.title }}</h3>
      <p><strong>Difficulty:</strong> {{ recipe.difficulty }}</p>

      <h4>Ingredients:</h4>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
      </ul>

      <h4>Instructions:</h4>
      <ol>
        <li *ngFor="let step of recipe.steps">{{ step }}</li>
      </ol>

      <div class="recipe-actions">
        <div *ngIf="recipe" class="likes">
          <span>Likes: {{ recipe.likes }}</span>

          <div *ngIf="canLike">
            <button (click)="likeRecipe()">Like</button>
          </div>
        </div>

        <button type="button" (click)="goBack()">Back</button>
      </div>
    </div>

    <!--Edit Mode Menu-->
    <div *ngIf="isEditMode">
      <h3>Edit Recipe</h3>
      <form [formGroup]="recipeForm" (ngSubmit)="updateRecipe()">
        <!--Title-->
        <div>
          <label for="title">Recipe Title</label>
          <input id="title" formControlName="title" [disabled]="true" readonly />
        </div>

        <!--Difficulty-->
        <div>
          <label for="difficulty">Difficulty</label>
          <select id="difficulty" formControlName="difficulty">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
          </select>
        </div>

        <!--Ingredients-->
        <div>
          <label>Ingredients</label>
          <div formArrayName="ingredients">
            <div *ngFor="let ingredient of ingredientsArray.controls; let i = index" class="input-group">
              <input
                type="text"
                [formControlName]="i"
                readonly
              />
              <button type="button" class="remove-btn" (click)="removeIngredient(i)">×</button>
            </div>
          </div>

          <div *ngIf="isIngredientsInvalid" class="error">
            {{ errorMessages.ingredients.required }}
          </div>

          <div class="add-input-group">
            <input
              #newIngredientInput
              type="text"
              placeholder="Add new ingredient"
            />
            <button
              type="button"
              (click)="addIngredient(newIngredientInput.value); newIngredientInput.value = ''"
            >
              Add Ingredient
            </button>
          </div>
        </div>

        <!--Steps-->
        <div>
          <label>Steps</label>
          <div formArrayName="steps">
            <div *ngFor="let step of stepsArray.controls; let i = index" class="input-group">
              <input
                type="text"
                [formControlName]="i"
                readonly
              />
              <button type="button" class="remove-btn" (click)="removeStep(i)">×</button>
            </div>
          </div>

          <div *ngIf="isStepsInvalid" class="error">
            {{ errorMessages.steps.required }}
          </div>

          <div class="add-input-group">
            <input
              #newStepInput
              type="text"
              placeholder="Add new step"
            />
            <button
              type="button"
              (click)="addStep(newStepInput.value); newStepInput.value = ''"
            >
              Add Step
            </button>
          </div>
        </div>

        <!--Buttons-->
        <div class="form-actions">
          <button type="submit" [disabled]="recipeForm.invalid">Update Recipe</button>
          <button class="remove-btn" type="button" (click)="deleteRecipe()">Delete Recipe</button>
          <button id="cancel-btn" type="button" (click)="toggleEditMode()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</section>
