#recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  width: 100%;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 24px;
}
